<main class="container">

  <div class="ajouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="primary">
        Add assignment
      </button>
    </a>
  </div>


  <h2>{{titre}}</h2>
  <p>Nb total d'assignments : {{totalDocs}}</p>
  <p>Nb total de pages : {{totalPages}}</p>

  <div class="paginationBtn">
    <button mat-raised-button color="primary">Première</button>&nbsp;
    <button mat-raised-button color="primary">Précédente</button>&nbsp;
    <button mat-raised-button color="primary">Suivate</button>&nbsp;
    <button mat-raised-button color="primary">Dernière</button>;
  </div>

  <mat-divider></mat-divider>
  <mat-list *ngFor="let assignment of assignments; let i=index">
    <nav>
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item>
          <p appRendu *ngIf="assignment.rendu; else nonsoumis">
            {{i}} - {{assignment.nom}},
            a été rendu par l'élève.
          </p>
          <ng-template #nonsoumis>
            <p appNonRendu>{{i}} - {{assignment.nom}} n'a pas été
              rendu par l'élève.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>


</main>
